@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {
    .connect-wallet-btn {
        width: 100%;
        text-align: center;
        font-weight: 700;
        --tw-bg-opacity: 1;
        background-color: rgb(12 74 110 / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        padding: 1rem/* 16px */;
        border-radius: 0.25rem/* 4px */;
    }
}